<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/searchStyles.css">
  <title>Slashash OMDB | Favorites</title>
</head>
<body>
  <div class="searchContainer">
    <% favorites.forEach(favorite => { %>
      <div class="card">
        <img src="<%= favorite.poster %>" alt="<%= favorite.title %>">
        <div class="card-body">
          <h5 class="card-title"><%= favorite.title %></h5>
          <p class="card-text">Year: <%= favorite.year %></p>
          <p class="card-text">Type: <%= favorite.type %></p>
        </div>
      </div>
    <% }) %>
  </div>
</body>
</html>
