<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/searchStyles.css">
  <title>Slashash OMDB | Results</title>
</head>
<body>
  <div class="searchContainer">
    <% movies.forEach(movie => { %>
      <div class="card">
        <img src="<%= movie.Poster %>" alt="<%= movie.Title %>">
        <div class="card-body">
          <h5 class="card-title"><%= movie.Title %></h5>
          <p class="card-text">Year: <%= movie.Year %></p>
          <p class="card-text">Type: <%= movie.Type %></p>
          <button class="btn btn-primary save-favorite" data-title="<%= movie.Title %>" data-year="<%= movie.Year %>" data-type="<%= movie.Type %>" data-poster="<%= movie.Poster %>">Save as Favorite</button>
        </div>
      </div>
    <% }) %>
  </div>
  <script>
    $(document).ready(function () {
      $('.save-favorite').click(function () {
        const title = $(this).data('title');
        const year = $(this).data('year');
        const type = $(this).data('type');
        const poster = $(this).data('poster');

        $.post('/save-favorite', { title, year, type, poster }, function (data) {
        });
      });
    });
  </script>
</body>
</html>
